{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
    <!-- <script data-main="scripts/app" src="scripts/require.js"></script> -->
    <title>Bergen County Volleyball</title>

    <!-- styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/staff-styles.css' %}" />
  </head>
  <body>
    <nav>
      <div id="nav" class="nav-center">
        <h4><a id="title" href="/">Bergen County Volleyball</a></h4>
        <ul class="nav-links">
          <li>
            <a href="/about">About</a>
          </li>
          <li>
            <a href="/events">Events</a>
          </li>
          <li>
            <a href="/staff">Staff</a>
          </li>
          <!-- <li>
            <a href="/leaderboard">Leaderboard</a>
          </li> -->
        </ul>
      </div>
    </nav>
    <main>
      <div class="container">
        <div class="white">

          <div class="section white" id="section1">
            <h2 class="section-header">Meet The Team</h2>
            <p class="text">
              We are staff
            </p>
          </div>

        </div>

        <div class="gray">
  
          <div class="section gray" id="sections" style="position:relative;">
            <div class="person-card">
              <img class="person-image" src="{% static 'assets/image5.jpg' %}">
              <div class="column">
                <h3 style="margin-top: 20px;">Justin Hwang</h3>
                <p style="margin-top: 20px;">Hi I made the website.<br><br><br><br><br><br><br><br></p>
                <div class="socials">
                  <a class="fa fa-instagram" style="margin-top: 15px;"></a>
                  <a style="margin-left: 5px">@acesjus</a>
                  <br>
                  <a class="fa fa-snapchat-ghost" style="margin-top: 10px"></a>
                  <a style="margin-left: 5px">@acesjus</a>
                </div>
              </div>
            </div>
            <div class="person-card">
              <img class="person-image" src="{% static 'assets/image5.jpg' %}">
              <div class="column">
                <h3 style="margin-top: 20px;">Justin Hwang</h3>
                <p style="margin-top: 20px;">Hi I made the website.<br><br><br><br><br><br><br><br></p>
                <div class="socials">
                  <a class="fa fa-instagram" style="margin-top: 15px;"></a>
                  <a style="margin-left: 5px">@acesjus</a>
                  <br>
                  <a class="fa fa-snapchat-ghost" style="margin-top: 10px"></a>
                  <a style="margin-left: 5px">@acesjus</a>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="white">
  
          <div class="section white" id="sections" style="position:relative;">
            <div class="person-card">
              <img class="person-image" src="{% static 'assets/image5.jpg' %}">
              <div class="column">
                <h3 style="margin-top: 20px;">Justin Hwang</h3>
                <p style="margin-top: 20px;">Hi I made the website.<br><br><br><br><br><br><br><br></p>
                <div class="socials">
                  <a class="fa fa-instagram" style="margin-top: 15px;"></a>
                  <a style="margin-left: 5px">@acesjus</a>
                  <br>
                  <a class="fa fa-snapchat-ghost" style="margin-top: 10px"></a>
                  <a style="margin-left: 5px">@acesjus</a>
                </div>
              </div>
            </div>
            <div class="person-card">
              <img class="person-image" src="{% static 'assets/image5.jpg' %}">
              <div class="column">
                <h3 style="margin-top: 20px;">Justin Hwang</h3>
                <p style="margin-top: 20px;">Hi I made the website.<br><br><br><br><br><br><br><br></p>
                <div class="socials">
                  <a class="fa fa-instagram" style="margin-top: 15px;"></a>
                  <a style="margin-left: 5px">@acesjus</a>
                  <br>
                  <a class="fa fa-snapchat-ghost" style="margin-top: 10px"></a>
                  <a style="margin-left: 5px">@acesjus</a>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="gray">
  
          <div class="section gray" id="sections" style="position:relative;">
            <div class="person-card">
              <img class="person-image" src="{% static 'assets/image5.jpg' %}">
              <div class="column">
                <h3 style="margin-top: 20px;">Justin Hwang</h3>
                <p style="margin-top: 20px;">Hi I made the website.<br><br><br><br><br><br><br><br></p>
                <div class="socials">
                  <a class="fa fa-instagram" style="margin-top: 15px;"></a>
                  <a style="margin-left: 5px">@acesjus</a>
                  <br>
                  <a class="fa fa-snapchat-ghost" style="margin-top: 10px"></a>
                  <a style="margin-left: 5px">@acesjus</a>
                </div>
              </div>
            </div>
            <div class="person-card">
              <img class="person-image" src="{% static 'assets/image5.jpg' %}">
              <div class="column">
                <h3 style="margin-top: 20px;">Justin Hwang</h3>
                <p style="margin-top: 20px;">Hi I made the website.<br><br><br><br><br><br><br><br></p>
                <div class="socials">
                  <a class="fa fa-instagram" style="margin-top: 15px;"></a>
                  <a style="margin-left: 5px">@acesjus</a>
                  <br>
                  <a class="fa fa-snapchat-ghost" style="margin-top: 10px"></a>
                  <a style="margin-left: 5px">@acesjus</a>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </main>
    <footer>
        <div class="footer-center">
            <h4>© 2022 NJBC Volleyball </h4>
            <ul class="footer-links">
                <li>
                  <a href="/about">About</a>
                </li>
                <li>
                    <a href="https://github.com/justinhwang24/njbc">GitHub</a>
                </li>
            </ul>
        </div>
    </footer>
    <!-- javascript -->
  </body>
</html>
